.type-1962 {
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
  font-family: segoe ui light;
}
.type-1962 a.navbar-brand {
  padding-left: 170px;
}
.type-1962 .chuanoidungmenu {
  margin-left: 130px;
  position: absolute;
  top: 50px;
}
.type-1962 .chuanoidungmenu .chunho {
  font-weight: 700;
  width: 70%;
  font-size: 17px;
  color: #111;
}
.type-1962 .nut {
  position: absolute;
  z-index: 1;
  color: white !important;
  background: rgba(128,128,128,0.68);
}
.type-1962 .nut:hover {
  background: orange;
}
@media (min-width: 1024px) {
  .type-1962 .nut {
    margin-top: 50px;
  }
}
@media (max-width: 1028px) {
  .type-1962 .hinhmenu {
    width: 100%;
  }
  .type-1962 .chuto {
    font-size: 15px;
  }
  .type-1962 .chuanoidungmenu {
    position: absolute;
    margin-left: 50px;
    width: 55%;
  }
  .type-1962 .chuanoidungmenu .chunho {
    font-size: 12px;
  }
}
@media (max-width: 798px) {
  .type-1962 .chuto {
    font-size: 15px;
  }
  .type-1962 .chuanoidungmenu {
    position: absolute;
    margin-left: 47px;
    width: 54%;
  }
  .type-1962 .chuanoidungmenu .chunho {
    font-size: 12px;
  }
}
