.blueberry {
  margin: 0 auto;
}
.blueberry .slides {
  display: block;
  position: relative;
  overflow: hidden;
}
.blueberry .slides li {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.blueberry .slides li img {
  display: block;
  width: 100%;
  max-width: none;
}
.blueberry .slides li.active {
  display: block;
  position: relative;
}
.blueberry .pager {
  height: 40px;
  text-align: center;
}
.blueberry .blueberry .pager li a,
.blueberry .blueberry .pager li a span {
  display: block;
  height: 4px;
  width: 4px;
}
