.i-type-1956 .swiper-container {
  width: 100%;
  height: 100%;
}
.i-type-1956 .swiper-container .swiper-slide {
  margin-top: 30px;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.i-type-1956 .swiper-container .swiper-slide img {
  margin-bottom: 34px;
}
.i-type-1956 .swiper-container .swiper-pagination span {
  width: 15px;
  background: #333333;
  height: 15px;
  left: 11.5px;
}
.i-type-1956 .swiper-container .swiper-pagination span:hover {
  background: #333333;
}
