.type-1958 h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
}
.type-1958 .star {
  color: red;
}
.type-1958 input {
  border: 1px solid #ccc;
  border-radius: 0px;
}
.type-1958 input:focus::-webkit-input-placeholder {
  color: transparent;
}
.type-1958 label {
  font-size: 13px;
  color: #5f5f5f;
  padding: 0;
  margin: 0 0 9px;
  font-weight: 400;
  text-align: left;
  line-height: inherit;
  padding: .2em .6em .3em;
}
.type-1958 label .sign-up {
  font-weight: 600;
  color: #5f5f5f;
  margin: 0;
  font-size: 13px;
  cursor: pointer;
  white-space: normal;
  text-align: left;
  line-height: inherit;
}
.type-1958 .password-strength-meter {
  background-color: #f4f4f4;
  height: 32px;
  color: #2a2a2a;
  line-height: 32px;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}
.type-1958 .btn-back {
  color: #222;
  border: 2px solid #222;
  background-color: #fff;
  border-radius: 20px;
}
.type-1958 .btn-back:hover,
.type-1958 .btn-back:focus,
.type-1958 .btn-back:active {
  color: #fff;
  border: 2px solid #222;
  background-color: #222;
}
.type-1958 .btn {
  margin-top: 15px;
  height: 40px;
  font-weight: 600;
  padding: 0 35px;
  line-height: 36px;
}
.type-1958 .btn-primary {
  color: #fff;
  background-color: #111;
  border-color: #111;
  border-radius: 0px;
}
.type-1958 .btn-primary:hover {
  background-color: #56cfe1;
  border-color: #56cfe1;
}
.type-1958 .block-content {
  margin-top: 70px;
}
.type-1958 .block-content .actions-toolbar {
  display: inline-block !important;
}
.type-1958 .block-content .social-btn {
  width: 215px;
  margin-right: 10px;
}
.type-1958 .block-content .btn-social {
  display: block;
  text-decoration: none;
  padding: 6px 12px 6px 44px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 4px;
  line-height: 26px;
}
.type-1958 .block-content .btn-facebook {
  color: #fff;
  background-color: #3b5998;
  border-color: rgba(0,0,0,0.2);
}
.type-1958 .block-content .btn-social {
  position: relative;
  padding-left: 44px;
  text-align: left;
}
.type-1958 .block-content .btn-social,
.type-1958 .block-content .btn-social-icon {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.type-1958 .block-content .btn-block {
  display: block;
  width: 100%;
}
.type-1958 .block-content .btn-social>:first-child {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 32px;
  line-height: 34px;
  font-size: 1.6em;
  text-align: center;
  border-right: 1px solid rgba(0,0,0,0.2);
}
.type-1958 .block-content .fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.type-1958 .block-content .btn-google:active:hover {
  color: #fff;
  background-color: #a32b1c;
  border-color: rgba(0,0,0,0.2);
}
.type-1958 .block-content .btn-google {
  color: #fff;
  background-color: #dd4b39;
  border-color: rgba(0,0,0,0.2);
}
.type-1958 .block-content .btn-twitter {
  color: #fff;
  background-color: #55acee;
  border-color: rgba(0,0,0,0.2);
}
