.type-979 {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Myriad Pro", Arial, sans-serif;
  font-size: 14px;
  background: #333;
  color: #333;
  text-shadow: 1px 1px 1px #fff;
  overflow-x: hidden;
}
.type-979 a {
  color: #555;
  text-decoration: none;
}
.type-979 a:hover {
  color: #222;
}
.type-979 p {
  padding: 5px 0px;
}
.type-979 .wrapper {
  width: 960px;
  margin: 20px auto;
}
.type-979 .clear {
  clear: both;
}
.type-979 .container {
  width: 100%;
  height: 420px;
  position: relative;
  overflow: hidden;
  -moz-box-shadow: 0px 0px 7px #000;
  -webkit-box-shadow: 0px 0px 7px #000;
  box-shadow: 0px 0px 7px #000;
  border: 2px solid transparent;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
}
.type-979 .bg {
  background: transparent url(../images/bg.png) repeat top left;
}
.type-979 .bg div {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 7584px;
  height: 420px;
  background-repeat: repeat;
  background-position: top left;
  background-color: transparent;
}
.type-979 .bg .bg1 {
  background-image: url(../images/bg1.png);
}
.type-979 .bg .bg2 {
  background-image: url(../images/bg2.png);
}
.type-979 .bg .bg3 {
  background-image: url(../images/bg3.png);
}
.type-979 .slider_wrapper {
  display: none;
}
.type-979 .container ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.type-979 ul.slider {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 420px;
}
.type-979 ul.slider li {
  height: 420px;
  float: left;
  position: relative;
}
.type-979 ul.slider li img {
  display: block;
  margin: 35px auto 0px auto;
  -moz-box-shadow: 0px 0px 7px #222;
  -webkit-box-shadow: 0px 0px 7px #222;
  box-shadow: 0px 0px 7px #222;
  border: 8px solid transparent;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.type-979 ul.thumbnails {
  height: 35px;
  position: absolute;
  top: 320px;
  left: 50%;
}
.type-979 ul.thumbnails li {
  position: absolute;
  display: block;
}
.type-979 ul.thumbnails li img {
  border: 5px solid #FFFFFF;
  -moz-box-shadow: 1px 1px 7px #555;
  -webkit-box-shadow: 1px 1px 7px #555;
  box-shadow: 1px 1px 7px #555;
  cursor: pointer;
  display: block;
  opacity: 0.7;
}
.type-979 ul.thumbnails li.selected img {
  opacity: 1.0;
}
.type-979 .navigation span {
  position: absolute;
  width: 30px;
  height: 60px;
  -moz-box-shadow: 0px 0px 2px #000;
  -webkit-box-shadow: 0px 0px 2px #000;
  box-shadow: 0px 0px 2px #000;
  top: 145px;
  opacity: 0.6;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
}
.type-979 .navigation span:hover {
  opacity: 0.9;
}
.type-979 .navigation span.prev {
  background: #000 url(../images/prev.png) no-repeat center center;
}
.type-979 .navigation span.next {
  background: #000 url(../images/next.png) no-repeat center center;
}
.type-979 .loading {
  color: #fff;
  font-size: 20px;
  padding: 15px 15px 15px 50px;
  position: absolute;
  background: #333 url(../images/ajax-loader.gif) no-repeat 10px 50%;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  opacity: 0.7;
  width: 180px;
  top: 150px;
  left: 50%;
  margin-left: -90px;
}
