@font-size:15px;
@color-chu:#777777;

.i-type-1952 {
	margin-left: 17px;
	margin-right: 17px;
	background: #F7F7F7;
	.line-1{
	    font-size: @font-size;
	    font-weight: 500;
	    text-align: -webkit-center;
		a{
			text-decoration: none;
			margin: 0px 10px;
		    margin-bottom: -2px;
		    z-index: 99;  
			padding: 0 25px;
			position: relative;
			text-transform: uppercase;  
			display: inline-block;
		    padding: 16px;
		    color: @color-chu;
		}
		.ep1 a{
			border-bottom: 2px solid coral;			
		}
		.ep3 a:hover{
			border-bottom: 2px solid coral;	
		}
	}
	.cnt-2{
		border-top: 2px solid #ebebeb;
    	padding-top: 30px;
    	.wpb_wrapper{
			blockquote{
				font-size: 20px;
			    margin: 20px 0;
			    display: block;
			    border-left: none;
			    color: black;
			}
			blockquote~p{
				color: @color-chu;
			    font-size: @font-size;
			    opacity: 1;
			    visibility: visible;
				}

			}
    	}
    	.cnt-3{
    		p{
    			color: @color-chu;
			    font-size: @font-size;
			    opacity: 1;
			    visibility: visible;
    		}
    	}
	}
	