.type-1962{
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
  font-family: segoe ui light;
    a.navbar-brand{
    padding-left: 170px;
  }
  .chuanoidungmenu{
    margin-left: 130px;
    position: absolute;
    top: 50px;

    .chunho{
        font-weight: 700;
        width: 70%;
        font-size: 17px;
        color: #111;
    }
  }
  .nut {
    position: absolute;
    z-index: 1;
    color: white!important;
    background: rgba(128, 128, 128, 0.68);
  }
  .nut:hover {
    background: orange;
  }
/*  .hinhmenu {
    margin-left: 120px;
  }*/
  @media(min-width: 1024px){
    .nut{
          margin-top: 50px;
    }
  }
  @media (max-width: 1028px){
    .hinhmenu {
        width: 100%;
      }
      .chuto{
        font-size: 15px;
      }
     .chuanoidungmenu {
      position: absolute;
      
      margin-left: 50px;
      width: 55%;
        .chunho{
        font-size: 12px;
      } 
      }
  }
  @media(max-width: 798px){

      .chuto{
        font-size: 15px;
      }
     .chuanoidungmenu {
      position: absolute;
     
      margin-left: 47px;
      width: 54%;
      .chunho{
        font-size: 12px;
      } 
    }
  }
}


