.i-type-1956 input[type='number'] {
  -moz-appearance: textfield;
}
.i-type-1956 input::-webkit-outer-spin-button,
.i-type-1956 input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.i-type-1956 .line-1 {
  background: #F9F9F9;
}
.i-type-1956 .line-1 .title {
  text-align: center;
  font-family: "Neue Einstellung";
  font-weight: 600;
}
.i-type-1956 .line-1 .t-tile {
  text-align: center;
}
.i-type-1956 .line-1 .t-tile .pointer a {
  margin-right: 10px;
  font-size: 14px;
  padding: 0;
  background-color: transparent;
  color: #b9b9b9;
  font-weight: 500;
}
.i-type-1956 .line-1 .t-tile .sear {
  margin-right: 10px;
  color: #b9b9b9;
}
.i-type-1956 .line-1 .t-tile .pointer a:hover {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  margin-right: 10px;
}
.i-type-1956 .line-1 .t-tile .throught {
  margin-right: 10px;
  font-size: 14px;
  padding: 0;
  background-color: transparent;
  margin-bottom: 0;
  color: #b9b9b9;
  font-weight: 500;
}
.i-type-1956 .cnt-2 .product_meta {
  padding-top: 35px;
  padding-left: 0;
  border-top: 1px solid #e7e7e7;
  font-size: 13px;
  color: #777;
  list-style: none;
}
.i-type-1956 .cnt-2 .product_meta a {
  color: #777;
  text-decoration: none;
}
.i-type-1956 .cnt-2 .product_meta a:hover {
  color: #ff8969;
}
.i-type-1956 .cnt-2 .product_meta .lorem p {
  margin-top: 25px;
}
.i-type-1956 .cnt-2 .product_meta .lorem .price {
  font-size: 25px;
}
.i-type-1956 .cnt-2 .product_meta .lorem .price .amount {
  font-weight: 600;
  color: black;
}
.i-type-1956 .cnt-2 .product_meta .price p {
  font-size: 25px;
  font-weight: 600;
  color: black;
  visibility: hidden;
}
.i-type-1956 .cnt-2 .product_meta .tawcvs-swatches .reset_variations {
  line-height: 30px;
  padding: 9px 20px;
  margin-top: 5px;
  background: #363636;
  color: #fff;
  visibility: hidden;
}
.i-type-1956 .cnt-2 .product_meta .tawcvs-swatches .reset_variations:hover {
  background-color: #ff8969;
  border-color: #ff8969;
}
.i-type-1956 .cnt-2 .product_meta .tawcvs-swatches .swatch {
  margin-top: 20px;
  margin-bottom: 60px;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin-right: 15px;
  cursor: pointer;
  border: 1px solid transparent;
  position: relative;
  opacity: 0.5;
}
.i-type-1956 .cnt-2 .product_meta .tawcvs-swatches .swatch img {
  width: 35px;
}
.i-type-1956 .cnt-2 .product_meta .tawcvs-swatches .brand {
  font-size: 1.3em;
  line-height: 45px;
  display: inline-block;
  font-weight: 600;
  color: #000;
  padding: 0;
}
.i-type-1956 .cnt-2 .wrap-1 {
  margin-top: 36px;
}
.i-type-1956 .cnt-2 .quantity {
  float: left;
  margin: 5px 20px 0 0;
  display: inline-block;
  border: 1px solid #ddd;
  padding: 0;
}
.i-type-1956 .cnt-2 .quantity .tc {
  text-align: center;
}
.i-type-1956 .cnt-2 .quantity .qty a {
  float: left;
  width: 30px;
  height: 43px;
  background: none;
}
.i-type-1956 .cnt-2 .quantity i {
  color: #777;
  margin-top: 15px;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
}
.i-type-1956 .cnt-2 .quantity input {
  border: none;
  width: 60px;
  height: 43px;
  line-height: 43px;
  background: none;
  margin: 0 10px;
  float: left;
  padding: 0 5px;
  margin: 0;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}
.i-type-1956 .cnt-2 .product-item {
  margin-top: 20px;
}
.i-type-1956 .cnt-2 .product-item .fa {
  color: #111;
  font-weight: 400;
}
.i-type-1956 .cnt-2 .product-item .fa:hover {
  color: #ff8969;
  text-decoration: none;
}
.i-type-1956 .cnt-2 .add-cart {
  margin-top: 5px;
  border: 0;
  padding: 0 -1px 0 45px;
  line-height: 45px;
  background: #363636;
  color: #fff;
}
.i-type-1956 .cnt-2 .add-cart:hover {
  background-color: #ff8969;
  border-color: #ff8969;
}
.i-type-1956 .cnt-2 .fix-img {
  margin-top: 35px;
  display: flex;
}
.i-type-1956 .cnt-2 .fix-img .swiper-container {
  z-index: 0;
  height: 100%;
  width: 100%;
  position: relative;
}
.i-type-1956 .cnt-2 .fix-img .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.i-type-1956 .cnt-2 .fix-img .swiper-button-prev,
.i-type-1956 .cnt-2 .fix-img .swiper-button-next {
  max-height: 0px;
  visibility: hidden;
  z-index: 4;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #555 !important;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.i-type-1956 .cnt-2 .fix-img .swiper-button-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.i-type-1956 .cnt-2 .swiper-container:hover .swiper-button-prev {
  visibility: visible;
}
.i-type-1956 .cnt-2 .swiper-container:hover .swiper-button-next {
  visibility: visible;
}
