* {
  margin: 0;
  padding: 0;
  font-family: segoe ui light;
}
.type-1954 {
  background-color: rgba(0,0,0,0.82);
  margin-top: 10px;
  width: 100%;
}
.type-1954 .address {
  color: rgba(255,255,255,0.68);
}
.type-1954 .contact {
  padding-top: 20px;
  color: white;
}
.type-1954 .mauden {
  color: white;
  margin-top: 10px;
  width: 200px;
  background: rgba(0,0,0,0.5);
  cursor: pointer;
  border: none !important;
}
.type-1954 .mauden:hover {
  background: orange;
  color: white !important;
}
.type-1954 .form-control {
  border: none !important;
}
.type-1954 .icon {
  transition: transform .2s;
  color: rgba(255,255,255,0.31);
  margin-left: 5px;
  font-size: 22px !important;
  cursor: pointer;
}
.type-1954 .icon:hover {
  color: orange;
  transform: scale(1.5);
}
.type-1954 .tacgia {
  background-image: url(../images/bg_pttrn.png);
  height: 70px;
  margin-top: 30px;
}
.type-1954 .chuacard {
  padding-right: 100px;
  padding-top: 25px;
}
.type-1954 .card {
  transition: transform .2s;
  border: 1px solid white;
  font-size: 35px !important;
  float: right;
  color: #fff;
  margin-left: 20px;
}
.type-1954 .card:hover {
  transform: scale(1.5);
}
.type-1954 .tentacgia {
  float: left;
  padding-left: 200px;
  color: rgba(255,255,255,0.68);
  padding-top: 25px;
}
.type-1954 .z {
  cursor: pointer;
}
.type-1954 .z:hover {
  color: orange;
}
